*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-light: #fff;
    --text-color: #323238;
    --buttons-music-color: #E1E1E6;
    --button-music-active: #02799D;

    font-size: clamp(40%, 1% + 1vw, 62.5%);
}
body{
    height: 100vh;
    display: grid;
    place-content: center;

    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
}
#app{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.controls{
    display: flex;
    gap: 4rem;

    margin-top: 1.4rem;
}
.controls button{
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    
    cursor: pointer;
    
    font-size: 6.4rem;
}
.sound-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem;
    align-items: center;
    justify-items: center;
    padding: 0 4rem;
}
.sound-buttons button{
    width: 13.8rem;
    height: 15.2rem;
    background-color: var(--buttons-music-color);
    border: 0;
    border-radius: 2.4rem;
    color: var(--text-color);
    
    cursor: pointer;
    
    font-size: 6.4rem;
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

@media (min-width: 700px) {
    #app{
        flex-direction: row;
        gap: 7rem;
        align-items: center;
    }
}
